
.input {
    width: 20vw;
    height: 4vh;
    padding-left: .5vw;
    font-size: 1.2em;
    margin-bottom: 3vh;
    border-radius: 4px;
    background-color: var(--cor-input);
    border: solid 1px var(--cor-bg-dark);
    color: var(--cor-fonte-texto);
    &::placeholder {
        font-family: var(--fonte-overpass);
        color: var(--cor-violeta);
        font-size: .9em;
    }
}

@media screen and (max-width: 1280px) and (min-width: 769px) {
    .input {
        width: 30vw;
    }
}

@media screen and (max-width: 768px) and (min-width: 601px) {
    .input {
        width: 40vw;
    }
}

@media screen and (max-width: 600px) and (min-width: 481px) {
    .input {
        width: 50vw;
        height: 5vh;
    }
}

@media screen and (max-width: 480px) and (min-width: 320px) {
    .input {
        width: 45vw;
        font-size: 1em;
    }
}

@media screen and (max-width: 319px) {
    .input {
        width: 50vw;
        font-size: .8em;
    }
}