
.textarea {
    width: 20vw;
    height: 10vh;
    padding-left: .5vw;
    padding-top: .5vh;
    font-size: 1.6em;
    margin-bottom: 3vh;
    border-radius: 4px;
    background-color: var(--cor-input);
    border: solid 1px var(--cor-bg-dark);
    color: var(--cor-fonte-texto);
    &::placeholder {
        font-family: var(--fonte-overpass);
        color: var(--cor-violeta);
        font-size: .7em;
    }
}