
.botao {
    width: 12vw;
    height: 4.5vh;
    font-family: var(--fonte-orbitron);
    font-weight: 600;
    font-size: 1em;
    border: solid 2px var(--cor-bg-dark);
    border-radius: 8px;
    background-color: var(--cor-input-dark);
    color: var(--cor-fonte-texto);
}