
section {
  margin: 5vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 5rem;
  color: var(--cor-bg-dark);
  margin-bottom: 10vh;
}

div {
  display: flex;
  flex-direction: row;
  column-gap: 1vw;
  margin-top: 1vh;
}

@media screen and (max-width: 1280px) and (min-width: 769px) {
    h1 {
        font-size: 5rem;
    }
}

@media screen and (max-width: 600px) and (min-width: 481px) {
  h1 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  h1 {
        font-size: 3.5rem;
  }
}

@media screen and (max-width: 319px) {
  h1 {
        font-size: 2.5rem;
        margin-bottom: 5vh;
  }
  div {
    flex-direction: column;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  row-gap: 1.5vh;
}

li {
  list-style: none;
}